@import "tailwindcss";

@theme {
  --color-nature-950: #09090b;
  --color-nature-900: #18181b;
  --color-nature-800: #27272a;
  --color-nature-700: #3f3f46;
  --color-nature-600: #52525b;
  --color-nature-500: #71717a;
  --color-nature-400: #a1a1aa;
  --color-nature-300: #d4d4d8;
  --color-nature-200: #e4e4e7;
  --color-nature-100: #f4f4f5;
  --color-nature-50: #fafafa;

  --color-brand-600: #ea580c;
  --color-brand-500: #f97316;
  --color-brand-400: #fb923c;
  --color-brand-300: #fdba74;

  --font-sans: Inter, sans-serif;
  --font-serif: Playfair Display, serif;
}

@layer base {
  body {
    @apply bg-nature-950 text-nature-50 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}