@import "tailwindcss";

@theme {
  /* Olive Garden Feast Theme */
  --color-nature-950: #283618;
  /* Black Forest - Background */
  --color-nature-900: #34461f;
  --color-nature-800: #415626;
  --color-nature-700: #4e662d;
  --color-nature-600: #606c38;
  /* Olive Leaf */
  --color-nature-500: #8a884b;
  --color-nature-400: #dda15e;
  /* Light Caramel */
  --color-nature-300: #e6bf89;
  --color-nature-200: #f2dcb4;
  --color-nature-100: #f9ebd5;
  --color-nature-50: #fefae0;
  /* Cornsilk - Text */

  --color-brand-600: #a35a1f;
  --color-brand-500: #bc6c25;
  /* Copper - Accent */
  --color-brand-400: #d2843b;
  --color-brand-300: #e09f59;

  --font-sans: "Source Serif 4", serif;
  --font-serif: "Montserrat", sans-serif;
}

@layer base {
  body {
    @apply bg-nature-950 text-nature-50 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}